*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #92ADFE;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1000px;
  height: 500px;
  background: #F6F3EE;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: #063BDA;
    color: white;
    font-family: sans-serif;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: #F6F3EE;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
    margin: 5px;
}
.content select {
    background: white;
    width: 200px;
    height: 30px;
    margin: 20px;
}
.content input {
    width: 200px;
    margin: 20px;
}
.round {
  width: 100px;
  height: 100px;
  border: 2px #D9D9D9;
  border-radius: 50%;
  text-align: center;
  background: #D9D9D9;
}
.card {
  width: 100px;
  height: 100px;
  border: 2px #D4B615;
    border-radius: 10%;
  text-align: center;
    font-size: 25pt;
  background: #FBDA69;
}
.active-content {
  display: block;
}
.profile{
    width: 170px;
    height: 170px;
}
.row {
    margin-top: 10px;
  display: flex;
}

.column {
    flex: 100%;
}